---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/slyeargin/repos?per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1406131887'
      Etag:
      - '"c00057fac5ac6c380e3d9314e34abf2e"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":19705207,"name":"ajax-demo","full_name":"slyeargin/ajax-demo","owner":{"login":"slyeargin","id":5809159,"avatar_url":"https://avatars.githubusercontent.com/u/5809159?","gravatar_id":"972442620891dadcc884788bae89b478","url":"https://api.github.com/users/slyeargin","html_url":"https://github.com/slyeargin","followers_url":"https://api.github.com/users/slyeargin/followers","following_url":"https://api.github.com/users/slyeargin/following{/other_user}","gists_url":"https://api.github.com/users/slyeargin/gists{/gist_id}","starred_url":"https://api.github.com/users/slyeargin/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slyeargin/subscriptions","organizations_url":"https://api.github.com/users/slyeargin/orgs","repos_url":"https://api.github.com/users/slyeargin/repos","events_url":"https://api.github.com/users/slyeargin/events{/privacy}","received_events_url":"https://api.github.com/users/slyeargin/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/slyeargin/ajax-demo","description":"","fork":false,"url":"https://api.github.com/repos/slyeargin/ajax-demo","forks_url":"https://api.github.com/repos/slyeargin/ajax-demo/forks","keys_url":"https://api.github.com/repos/slyeargin/ajax-demo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/slyeargin/ajax-demo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/slyeargin/ajax-demo/teams","hooks_url":"https://api.github.com/repos/slyeargin/ajax-demo/hooks","issue_events_url":"https://api.github.com/repos/slyeargin/ajax-demo/issues/events{/number}","events_url":"https://api.github.com/repos/slyeargin/ajax-demo/events","assignees_url":"https://api.github.com/repos/slyeargin/ajax-demo/assignees{/user}","branches_url":"https://api.github.com/repos/slyeargin/ajax-demo/branches{/branch}","tags_url":"https://api.github.com/repos/slyeargin/ajax-demo/tags","blobs_url":"https://api.github.com/repos/slyeargin/ajax-demo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/slyeargin/ajax-demo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/slyeargin/ajax-demo/git/refs{/sha}","trees_url":"https://api.github.com/repos/slyeargin/ajax-demo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/slyeargin/ajax-demo/statuses/{sha}","languages_url":"https://api.github.com/repos/slyeargin/ajax-demo/languages","stargazers_url":"https://api.github.com/repos/slyeargin/ajax-demo/stargazers","contributors_url":"https://api.github.com/repos/slyeargin/ajax-demo/contributors","subscribers_url":"https://api.github.com/repos/slyeargin/ajax-demo/subscribers","subscription_url":"https://api.github.com/repos/slyeargin/ajax-demo/subscription","commits_url":"https://api.github.com/repos/slyeargin/ajax-demo/commits{/sha}","git_commits_url":"https://api.github.com/repos/slyeargin/ajax-demo/git/commits{/sha}","comments_url":"https://api.github.com/repos/slyeargin/ajax-demo/comments{/number}","issue_comment_url":"https://api.github.com/repos/slyeargin/ajax-demo/issues/comments/{number}","contents_url":"https://api.github.com/repos/slyeargin/ajax-demo/contents/{+path}","compare_url":"https://api.github.com/repos/slyeargin/ajax-demo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/slyeargin/ajax-demo/merges","archive_url":"https://api.github.com/repos/slyeargin/ajax-demo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/slyeargin/ajax-demo/downloads","issues_url":"https://api.github.com/repos/slyeargin/ajax-demo/issues{/number}","pulls_url":"https://api.github.com/repos/slyeargin/ajax-demo/pulls{/number}","milestones_url":"https://api.github.com/repos/slyeargin/ajax-demo/milestones{/number}","notifications_url":"https://api.github.com/repos/slyeargin/ajax-demo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/slyeargin/ajax-demo/labels{/name}","releases_url":"https://api.github.com/repos/slyeargin/ajax-demo/releases{/id}","created_at":"2014-05-12T15:56:17Z","updated_at":"2014-05-13T05:29:26Z","pushed_at":"2014-05-13T05:29:26Z","git_url":"git://github.com/slyeargin/ajax-demo.git","ssh_url":"git@github.com:slyeargin/ajax-demo.git","clone_url":"https://github.com/slyeargin/ajax-demo.git","svn_url":"https://github.com/slyeargin/ajax-demo","homepage":null,"size":1212,"stargazers_count":0,"watchers_count":0,"language":"CSS","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":16717626,"name":"awaketn.org","full_name":"slyeargin/awaketn.org","owner":{"login":"slyeargin","id":5809159,"avatar_url":"https://avatars.githubusercontent.com/u/5809159?","gravatar_id":"972442620891dadcc884788bae89b478","url":"https://api.github.com/users/slyeargin","html_url":"https://github.com/slyeargin","followers_url":"https://api.github.com/users/slyeargin/followers","following_url":"https://api.github.com/users/slyeargin/following{/other_user}","gists_url":"https://api.githu[...]
[...]
