%h1 Assignments

%ul
  - assignments.each do |assignment|
    %li= link_to assignment.title, course_assignment_path(current_course, assignment)
  %li= link_to "Quiz Mockup", course_quiz_path(current_course, 1)

= link_to "New Assignment", select_course_assignments_path(current_course)
