%h1 Assignments

%ul
  %li= link_to "First Day Checkin, due 1/16", assignment_path(13)
  %li= link_to "Career Prep Prerequisties, due 2/1", assignment_path(13)
  %li= link_to "Capstone 1: Checkin 1, due 3/1", assignment_path(13)
