%h1 Select an Assignment

= simple_form_for assignment, url: course_assignments_path(current_course) do |f|
  %label{ for: "assignment_source" } Assignment
  = select_tag "assignment[source]", options_from_collection_for_select(assignment_options, :fullpath, :formatted_title)
  = f.button :submit, "Set Milestones"
