---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1396988198'
      Last-Modified:
      - Wed, 26 Mar 2014 01:03:22 GMT
      Etag:
      - '"54043e8bbcb0fb15d73a8f4f86f1fedd"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"master","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master","tree":[{"mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","path":"README.markdown","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","path":"computer-science","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","path":"computer-science/logic","url":"https://api.github.com/repos/[...]
[...]
