---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1417712540'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - '"f16659dac5bbd6c5e09a73ba7de1f7a0"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 6420f58670f870ffcda8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"2a665ec69c1d9386913c182f3f6c9b88323bfda4","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/2a665ec69c1d9386913c182f3f6c9b88323bfda4","tree":[{"path":"README.markdown","mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"path":"computer-science","mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"path":"computer-science/logic","mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","url":"https://api.github.com/repos/[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4864'
      X-Ratelimit-Reset:
      - '1417712540'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - '"2c2f3a58c6793e674f0114d077f668bf"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 6420f58670f870ffcda8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"README.markdown","path":"README.markdown","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/README.markdown?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/README.markdown","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e","type":"file","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/README.markdown?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e","html":"https://github.com/elizabrock/inquizator-test-repo/blob/master/README.markdown"}},{"name":"computer-science","path":"computer-science","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/computer-science","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/NSS-Syllabus-Cohort-3/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/NSS-Syllabus-Cohort-3/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4862'
      X[...]
