---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1402160841'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - '"20b4a85e1b4582f775671e2ae15e0ed3"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"master","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master","tree":[{"mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","path":"README.markdown","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","path":"computer-science","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","path":"computer-science/logic","url":"https://api.github.com/repos/[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/NSS-Syllabus-Cohort-3/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
[...]
