---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/bob0/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1398260013'
      Etag:
      - '"065c6f8321b1805c60b5ad37d4f34070"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":4947348,"name":"jquery-ui-touch-punch","full_name":"Bob0/jquery-ui-touch-punch","owner":{"login":"Bob0","id":1938706,"avatar_url":"https://avatars.githubusercontent.com/u/1938706?","gravatar_id":"6a5d9bcf76091b50959fb9eaf795423c","url":"https://api.github.com/users/Bob0","html_url":"https://github.com/Bob0","followers_url":"https://api.github.com/users/Bob0/followers","following_url":"https://api.github.com/users/Bob0/following{/other_user}","gists_url":"https://api.github.com/users/Bob0/gists{/gist_id}","starred_url":"https://api.github.com/users/Bob0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Bob0/subscriptions","organizations_url":"https://api.github.com/users/Bob0/orgs","repos_url":"https://api.github.com/users/Bob0/repos","events_url":"https://api.github.com/users/Bob0/events{/privacy}","received_events_url":"https://api.github.com/users/Bob0/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Bob0/jquery-ui-touch-punch","description":"A
        duck punch for adding touch events to jQuery UI","fork":true,"url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch","forks_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/forks","keys_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/teams","hooks_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/hooks","issue_events_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues/events{/number}","events_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/events","assignees_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/assignees{/user}","branches_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/branches{/branch}","tags_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/tags","blobs_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/refs{/sha}","trees_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/statuses/{sha}","languages_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/languages","stargazers_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/stargazers","contributors_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/contributors","subscribers_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/subscribers","subscription_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/subscription","commits_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/commits{/sha}","git_commits_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/commits{/sha}","comments_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/comments{/number}","issue_comment_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues/comments/{number}","contents_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/contents/{+path}","compare_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/merges","archive_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/downloads","issues_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues{/number}","pulls_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/pulls{/number}","milestones_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/milestones{/number}","notifications_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/labels{/name}","releases_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/releases{/id}","created_at":"2012-07-08T15:44:54Z","updated_at":"2013-01-11T01:38:14Z","pushed_at":"2012-04-19T19:32:48Z","git_url":"git://github.com/Bob0/jquery-ui-touch-punch.git","ssh_url":"git@github.com:Bob0/jquery-ui-touch-punch.git","clone_url":"https://github.com/Bob0/jquery-ui-touch-punch.git","svn_url":"https://github.com/Bob0/jquery-ui-touch-punch","homepage":"http://touchpunch.furf.com/","size":79,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Wed, 01 May 2013 05:00:01 GMT
recorded_with: VCR 2.9.0
