---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/elizabrock/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4823'
      X-Ratelimit-Reset:
      - '1401823096'
      Etag:
      - '"d524059dfa40506977c605da202b6065"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/55660/repos?page=2>; rel="next", <https://api.github.com/user/55660/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":17064695,"name":"coursewareofthefuture","full_name":"elizabrock/coursewareofthefuture","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?","gravatar_id":"b6bba3c4f7f092c3ff6beb92f530c58b","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_url":"https://api.github.com/users/elizabrock/gists{/gist_id}","starred_url":"https://api.github.com/users/elizabrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elizabrock/subscriptions","organizations_url":"https://api.github.com/users/elizabrock/orgs","repos_url":"https://api.github.com/users/elizabrock/repos","events_url":"https://api.github.com/users/elizabrock/events{/privacy}","received_events_url":"https://api.github.com/users/elizabrock/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/elizabrock/coursewareofthefuture","description":"The
        Courseware of the Future!! (For Nashville Software School)","fork":false,"url":"https://api.github.com/repos/elizabrock/coursewareofthefuture","forks_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/forks","keys_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/teams","hooks_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/hooks","issue_events_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/issues/events{/number}","events_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/events","assignees_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/assignees{/user}","branches_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/branches{/branch}","tags_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/tags","blobs_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/git/refs{/sha}","trees_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/statuses/{sha}","languages_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/languages","stargazers_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/stargazers","contributors_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/contributors","subscribers_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/subscribers","subscription_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/subscription","commits_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/commits{/sha}","git_commits_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/git/commits{/sha}","comments_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/comments{/number}","issue_comment_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/issues/comments/{number}","contents_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/contents/{+path}","compare_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/merges","archive_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/downloads","issues_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/issues{/number}","pulls_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/pulls{/number}","milestones_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/milestones{/number}","notifications_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/labels{/name}","releases_url":"https://api.github.com/repos/elizabrock/coursewareofthefuture/releases{/id}","created_at":"2014-02-21T17:54:29Z","updated_at":"2014-06-03T18:31:11Z","pushed_at":"2014-06-03T18:31:10Z","git_url":"git://github.com/elizabrock/coursewareofthefuture.git","ssh_url":"git@github.com:elizabrock/coursewareofthefuture.git","clone_url":"https://github.com/elizabrock/coursewareofthefuture.git","svn_url":"https://github.com/elizabrock/coursewareofthefuture","homepage":null,"size":4842,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":6,"mirror_url":null,"open_issues_count":0,"forks":6,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":10439584,"name":"coveralls-ruby","full_name":"elizabrock/coveralls-ruby","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?","gravatar_id":"b6bba3c4f7f092c3ff6beb92f530c58b","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_url":"https://a[...]
