---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/elizabrock/repos?per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4964'
      X-Ratelimit-Reset:
      - '1444076265'
      Etag:
      - W/"c941f68c9e0d67993963ad133b16dc3c"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":36934422,"name":"attendance_tracker","full_name":"elizabrock/attendance_tracker","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?v=3","gravatar_id":"","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_url":"https://api.github.com/users/elizabrock/gists{/gist_id}","starred_url":"https://api.github.com/users/elizabrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elizabrock/subscriptions","organizations_url":"https://api.github.com/users/elizabrock/orgs","repos_url":"https://api.github.com/users/elizabrock/repos","events_url":"https://api.github.com/users/elizabrock/events{/privacy}","received_events_url":"https://api.github.com/users/elizabrock/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/elizabrock/attendance_tracker","description":"Cohort
        Huckleberry 2-day Rails Project","fork":false,"url":"https://api.github.com/repos/elizabrock/attendance_tracker","forks_url":"https://api.github.com/repos/elizabrock/attendance_tracker/forks","keys_url":"https://api.github.com/repos/elizabrock/attendance_tracker/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elizabrock/attendance_tracker/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elizabrock/attendance_tracker/teams","hooks_url":"https://api.github.com/repos/elizabrock/attendance_tracker/hooks","issue_events_url":"https://api.github.com/repos/elizabrock/attendance_tracker/issues/events{/number}","events_url":"https://api.github.com/repos/elizabrock/attendance_tracker/events","assignees_url":"https://api.github.com/repos/elizabrock/attendance_tracker/assignees{/user}","branches_url":"https://api.github.com/repos/elizabrock/attendance_tracker/branches{/branch}","tags_url":"https://api.github.com/repos/elizabrock/attendance_tracker/tags","blobs_url":"https://api.github.com/repos/elizabrock/attendance_tracker/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elizabrock/attendance_tracker/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elizabrock/attendance_tracker/git/refs{/sha}","trees_url":"https://api.github.com/repos/elizabrock/attendance_tracker/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elizabrock/attendance_tracker/statuses/{sha}","languages_url":"https://api.github.com/repos/elizabrock/attendance_tracker/languages","stargazers_url":"https://api.github.com/repos/elizabrock/attendance_tracker/stargazers","contributors_url":"https://api.github.com/repos/elizabrock/attendance_tracker/contributors","subscribers_url":"https://api.github.com/repos/elizabrock/attendance_tracker/subscribers","subscription_url":"https://api.github.com/repos/elizabrock/attendance_tracker/subscription","commits_url":"https://api.github.com/repos/elizabrock/attendance_tracker/commits{/sha}","git_commits_url":"https://api.github.com/repos/elizabrock/attendance_tracker/git/commits{/sha}","comments_url":"https://api.github.com/repos/elizabrock/attendance_tracker/comments{/number}","issue_comment_url":"https://api.github.com/repos/elizabrock/attendance_tracker/issues/comments{/number}","contents_url":"https://api.github.com/repos/elizabrock/attendance_tracker/contents/{+path}","compare_url":"https://api.github.com/repos/elizabrock/attendance_tracker/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elizabrock/attendance_tracker/merges","archive_url":"https://api.github.com/repos/elizabrock/attendance_tracker/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elizabrock/attendance_tracker/downloads","issues_url":"https://api.github.com/repos/elizabrock/attendance_tracker/issues{/number}","pulls_url":"https://api.github.com/repos/elizabrock/attendance_tracker/pulls{/number}","milestones_url":"https://api.github.com/repos/elizabrock/attendance_tracker/milestones{/number}","notifications_url":"https://api.github.com/repos/elizabrock/attendance_tracker/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elizabrock/attendance_tracker/labels{/name}","releases_url":"https://api.github.com/repos/elizabrock/attendance_tracker/releases{/id}","created_at":"2015-06-05T13:34:43Z","updated_at":"2015-06-05T14:02:58Z","pushed_at":"2015-06-08T22:02:07Z","git_url":"git://github.com/elizabrock/attendance_tracker.git","ssh_url":"git@github.com:elizabrock/attendance_tracker.git","clone_url":"https://github.com/elizabrock/attendance_tracker.git","svn_url":"https://github.com/elizabrock/attendance_tracker","homepage":null,"size":154,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":21949765,"name":"blueberry-cal","full_name":"elizabrock/blueberry-cal","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?v=3","gravatar_id":"","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_url":"https://api.github.com/users/elizabrock/[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4962'
      X-Ratelimit-Reset:
      - '1444076265'
      Last-Modified:
      - Sat, 05 Jul 2014 19:10:15 GMT
      Etag:
      - W/"25be0a67de96d8127a9d2678fb8c5b10"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"logic.md","path":"computer-science/logic/logic.md","sha":"6e590dd772840ca2fc20faf9c764c6737c742a61","size":3910,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/computer-science/logic/logic.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/6e590dd772840ca2fc20faf9c764c6737c742a61","download_url":"https://raw.githubusercontent.com/elizabrock/inquizator-test-repo/master/computer-science/logic/logic.md","type":"file","content":"IyBMb2dpYwoKTG9naWMgaXMsIGJyb2FkbHkgc3BlYWtpbmcsIHRoZSBhcHBs\naWNhdGlvbiBvZiByZWFzb25pbmcgdG8gYW4gYWN0aXZpdHkgb3IgY29uY2Vw\ndC4gIEluIENvbXB1dGVyIFNjaWVuY2UsIHdlIHByaW1hcmlseSB1c2UgZGVk\ndWN0aXZlIHJlYXNvbmluZyAoYS5rLmEuIGRlZHVjdGl2ZSBsb2dpYykgYWxv\nbmcgd2l0aCBib29sZWFuIGFsZ2VicmEgKGUuZy4gdHdvLXZhbHVlZCBsb2dp\nYykuCgojIFRyYWRpdGlvbmFsIExvZ2ljIFN5bWJvbHMKClRyYWRpdGlvbmFs\nIGxvZ2ljIGFuZCBsb2dpY2FsIHByb29mcywgb2YgdGhlIHNvcnQgeW91IHBy\nb2JhYmx5IGxlYXJuZWQgYWxvbmcgd2l0aCBHZW9tZXRyeSBpbiBncmFkZS1z\nY2h[...]
