---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/elizabrock/repos?per_page=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1406131887'
      Etag:
      - '"23f3b2c4c47488dafec109ba8f00af2e"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":21949765,"name":"blueberry-cal","full_name":"elizabrock/blueberry-cal","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?","gravatar_id":"b6bba3c4f7f092c3ff6beb92f530c58b","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_url":"https://api.github.com/users/elizabrock/gists{/gist_id}","starred_url":"https://api.github.com/users/elizabrock/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/elizabrock/subscriptions","organizations_url":"https://api.github.com/users/elizabrock/orgs","repos_url":"https://api.github.com/users/elizabrock/repos","events_url":"https://api.github.com/users/elizabrock/events{/privacy}","received_events_url":"https://api.github.com/users/elizabrock/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/elizabrock/blueberry-cal","description":"Basic
        cal outline for Cohort Blueberry","fork":false,"url":"https://api.github.com/repos/elizabrock/blueberry-cal","forks_url":"https://api.github.com/repos/elizabrock/blueberry-cal/forks","keys_url":"https://api.github.com/repos/elizabrock/blueberry-cal/keys{/key_id}","collaborators_url":"https://api.github.com/repos/elizabrock/blueberry-cal/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/elizabrock/blueberry-cal/teams","hooks_url":"https://api.github.com/repos/elizabrock/blueberry-cal/hooks","issue_events_url":"https://api.github.com/repos/elizabrock/blueberry-cal/issues/events{/number}","events_url":"https://api.github.com/repos/elizabrock/blueberry-cal/events","assignees_url":"https://api.github.com/repos/elizabrock/blueberry-cal/assignees{/user}","branches_url":"https://api.github.com/repos/elizabrock/blueberry-cal/branches{/branch}","tags_url":"https://api.github.com/repos/elizabrock/blueberry-cal/tags","blobs_url":"https://api.github.com/repos/elizabrock/blueberry-cal/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/elizabrock/blueberry-cal/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/elizabrock/blueberry-cal/git/refs{/sha}","trees_url":"https://api.github.com/repos/elizabrock/blueberry-cal/git/trees{/sha}","statuses_url":"https://api.github.com/repos/elizabrock/blueberry-cal/statuses/{sha}","languages_url":"https://api.github.com/repos/elizabrock/blueberry-cal/languages","stargazers_url":"https://api.github.com/repos/elizabrock/blueberry-cal/stargazers","contributors_url":"https://api.github.com/repos/elizabrock/blueberry-cal/contributors","subscribers_url":"https://api.github.com/repos/elizabrock/blueberry-cal/subscribers","subscription_url":"https://api.github.com/repos/elizabrock/blueberry-cal/subscription","commits_url":"https://api.github.com/repos/elizabrock/blueberry-cal/commits{/sha}","git_commits_url":"https://api.github.com/repos/elizabrock/blueberry-cal/git/commits{/sha}","comments_url":"https://api.github.com/repos/elizabrock/blueberry-cal/comments{/number}","issue_comment_url":"https://api.github.com/repos/elizabrock/blueberry-cal/issues/comments/{number}","contents_url":"https://api.github.com/repos/elizabrock/blueberry-cal/contents/{+path}","compare_url":"https://api.github.com/repos/elizabrock/blueberry-cal/compare/{base}...{head}","merges_url":"https://api.github.com/repos/elizabrock/blueberry-cal/merges","archive_url":"https://api.github.com/repos/elizabrock/blueberry-cal/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/elizabrock/blueberry-cal/downloads","issues_url":"https://api.github.com/repos/elizabrock/blueberry-cal/issues{/number}","pulls_url":"https://api.github.com/repos/elizabrock/blueberry-cal/pulls{/number}","milestones_url":"https://api.github.com/repos/elizabrock/blueberry-cal/milestones{/number}","notifications_url":"https://api.github.com/repos/elizabrock/blueberry-cal/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/elizabrock/blueberry-cal/labels{/name}","releases_url":"https://api.github.com/repos/elizabrock/blueberry-cal/releases{/id}","created_at":"2014-07-17T16:45:03Z","updated_at":"2014-07-17T16:45:11Z","pushed_at":"2014-07-17T20:33:56Z","git_url":"git://github.com/elizabrock/blueberry-cal.git","ssh_url":"git@github.com:elizabrock/blueberry-cal.git","clone_url":"https://github.com/elizabrock/blueberry-cal.git","svn_url":"https://github.com/elizabrock/blueberry-cal","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":6,"mirror_url":null,"open_issues_count":0,"forks":6,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":17064695,"name":"coursewareofthefuture","full_name":"elizabrock/coursewareofthefuture","owner":{"login":"elizabrock","id":55660,"avatar_url":"https://avatars.githubusercontent.com/u/55660?","gravatar_id":"b6bba3c4f7f092c3ff6beb92f530c58b","url":"https://api.github.com/users/elizabrock","html_url":"https://github.com/elizabrock","followers_url":"https://api.github.com/users/elizabrock/followers","following_url":"https://api.github.com/users/elizabrock/following{/other_user}","gists_u[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1406131887'
      Last-Modified:
      - Sat, 05 Jul 2014 19:10:15 GMT
      Etag:
      - '"0168ec0aa14773dd2f2d652984a83dab"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"logic.md","path":"computer-science/logic/logic.md","sha":"6e590dd772840ca2fc20faf9c764c6737c742a61","size":3910,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/computer-science/logic/logic.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/6e590dd772840ca2fc20faf9c764c6737c742a61","type":"file","content":"IyBMb2dpYwoKTG9naWMgaXMsIGJyb2FkbHkgc3BlYWtpbmcsIHRoZSBhcHBs\naWNhdGlvbiBvZiByZWFzb25pbmcgdG8gYW4gYWN0aXZpdHkgb3IgY29uY2Vw\ndC4gIEluIENvbXB1dGVyIFNjaWVuY2UsIHdlIHByaW1hcmlseSB1c2UgZGVk\ndWN0aXZlIHJlYXNvbmluZyAoYS5rLmEuIGRlZHVjdGl2ZSBsb2dpYykgYWxv\nbmcgd2l0aCBib29sZWFuIGFsZ2VicmEgKGUuZy4gdHdvLXZhbHVlZCBsb2dp\nYykuCgojIFRyYWRpdGlvbmFsIExvZ2ljIFN5bWJvbHMKClRyYWRpdGlvbmFs\nIGxvZ2ljIGFuZCBsb2dpY2FsIHByb29mcywgb2YgdGhlIHNvcnQgeW91IHBy\nb2JhYmx5IGxlYXJuZWQgYWxvbmcgd2l0aCBHZW9tZXRyeSBpbiBncmFkZS1z\nY2h[...]
