.instructors
  %h2 Instructors
  %ul.small-block-grid-5
    = render instructors

.observers
  %h2 Observers
  %ul.small-block-grid-5
    = render observers

.students
  %h2 Students
  %ul.small-block-grid-5
    = render students
