.instructors
  %h2 Instructors
  %ul
    - instructors.each do |instructor|
      %li= link_to instructor.name, instructor

.students
  %h2 Students
  %ul
    - students.each do |student|
      %li= link_to student.name, student
