%h1 Course Enrollment
%p Please select a course below to enroll in it.

%ul
  - enrollment_eligible_courses.each do |course|
    %li= button_to "Join #{course.title}", course_enrollments_path(course)
