%h1 Course Enrollment
- if enrollment_eligible_courses.empty?
  %p There are no open courses at this time.
- else
  %p Please select a course below to join it.
  %ul
    - enrollment_eligible_courses.each do |course|
      %li= button_to "Join #{course.title}", course_enrollments_path(course), class: "button"
