# Add application configuration variables here, as shown below.

ACCESS_KEY_ID: AKIAIHI4YKRDLYERGQHA
SECRET_ACCESS_KEY: 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
GITHUB_CLIENT_ID: 2b2e96de510cb66be51f
GITHUB_CLIENT_SECRET: 2a923d17dd8cda5fc24888a2c76e55dbf27d7d0e
MATERIALS_REPO: "elizabrock/software-development-curriculum"
