- if @self_report.attended
  %p Attended class
- else
  %p Missed class
#{@self_report.hours_learning.round} hours of learning<br>
#{@self_report.hours_coding.round} hours coding<br>
#{@self_report.hours_slept} hours of sleep
  