%h1 Course Calendar

- (course.start_date.change(day: 1)..course.end_date).select{ |d| d.day == 1 }.each do |first_of_month|
  = calendar(year: first_of_month.year, month: first_of_month.month){ |d| format_calendar_date(d, course) }
