%h1 Which course are you teaching today?

%ul
  - active_courses.each do |course|
    %li
      = link_to course.title, course_path(course), class: "view-course-link"
      = link_to "edit", edit_course_path(course), class: "edit-course-link"
%ul.button-group
  %li= link_to "View All Students", users_path, class: "button fi-torsos-all"
  %li= link_to "Create New Course", new_course_path, class: "button fi-plus"
