---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4839'
      X-Ratelimit-Reset:
      - '1401823096'
      Last-Modified:
      - Wed, 26 Mar 2014 01:03:22 GMT
      Etag:
      - '"54043e8bbcb0fb15d73a8f4f86f1fedd"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"01-cheers","path":"exercises/01-cheers","sha":"8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","type":"dir","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","html":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers"}},{"name":"02-ruby-koans","path":"exercises/02-ruby-koans","sha":"b3f6b39822ca8b450b5b0d34169016b46d5d4c6f","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/02-ruby-koans","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/b3f[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4838'
      X-Ratelimit-Reset:
      - '1401823096'
      Last-Modified:
      - Wed, 26 Mar 2014 01:03:20 GMT
      Etag:
      - '"7ccb6183dd91686d8c4bd0d9e500ecaa"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"instructions.md","path":"exercises/02-ruby-koans/instructions.md","sha":"8fb97731350f6d0612caecf36be7210a40ea41c6","size":262,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","type":"file","content":"IyBSdWJ5IEtvYW5zCgpJdCdzIHRpbWUgdG8gZ2V0IHN0YXJ0ZWQgb24gdGhl\nIFtSdWJ5IEtvYW5zXShodHRwOi8vcnVieWtvYW5zLmNvbS8pLgoKRm9sbG93\nIHRoZSBpbnN0cnVjdGlvbnMgb24gdGhlIFJ1YnkgS29hbnMgd2Vic2l0ZSB0\nbyBnZXQgc3RhcnRlZC4KCiMjIFN0cmluZ3MKClN0cmluZ3MgYXJlIGJhc2lj\nYWxseSBhcnJheXMuCgojIyBPYmplY3RzCgpPYmplY3RzIGFyZSBibG9ieS4K\nCiMjIFRyaWFuZ2xlcwoKVHJpYW5nbGVzIGFyZSBzaGFwZXMuCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","html":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md"}}'
  recorded_at: Fri, 01 Mar 2013 06:00:03 GMT
- request:
    method: get
    uri: https://api.github.com/users/bob/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4837'
      X-Ratelimit-Reset:
      - '1401823096'
      Etag:
      - '"f7dd589fb1d29652d4b5ac2b236277ca"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":5512967,"name":"agilezen","full_name":"bob/agilezen","owner":{"login":"bob","id":1436,"avatar_url":"https://avatars.githubusercontent.com/u/1436?","gravatar_id":"807d248f338fe12e100c6dc5c919a50d","url":"https://api.github.com/users/bob","html_url":"https://github.com/bob","followers_url":"https://api.github.com/users/bob/followers","following_url":"https://api.github.com/users/bob/following{/other_user}","gists_url":"https://api.github.com/users/bob/gists{/gist_id}","starred_url":"https://api.github.com/users/bob/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bob/subscriptions","organizations_url":"https://api.github.com/users/bob/orgs","repos_url":"https://api.github.com/users/bob/repos","events_url":"https://api.github.com/users/bob/events{/privacy}","received_events_url":"https://api.github.com/users/bob/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/bob/agilezen","description":"A
        Ruby wrapper for the AgileZen API (v1.0)","fork":true,"url":"https://api.github.com/repos/bob/agilezen","forks_url":"https://api.github.com/repos/bob/agilezen/forks","keys_url":"https://api.github.com/repos/bob/agilezen/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bob/agilezen/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bob/agilezen/teams","hooks_url":"https://api.github.com/repos/bob/agilezen/hooks","issue_events_url":"https://api.github.com/repos/bob/agilezen/issues/events{/number}","events_url":"https://api.github.com/repos/bob/agilezen/events","assignees_url":"https://api.github.com/repos/bob/agilezen/assignees{/user}","branches_url":"https://api.github.com/repos/bob/agilezen/branches{/branch}","tags_url":"https://api.github.com/repos/bob/agilezen/tags","blobs_url":"https://api.github.com/repos/bob/agilezen/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bob/agilezen/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bob/agilezen/git/refs{/sha}","trees_url":"https://api.github.com/repos/bob/agilezen/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bob/agilezen/statuses/{sha}","languages_url":"https://api.github.com/repos/bob/agilezen/languages","stargazers_url":"https://api.github.com/repos/bob/agilezen/stargazers","contributors_url":"https://api.github.com/repos/bob/agilezen/contributors","subscribers_url":"https://api.github.com/repos/bob/agilezen/subscribers","subscription_url":"https://api.github.com/repos/bob/agilezen/subscription","commits_url":"https://api.github.com/repos/bob/agilezen/commits{/sha}","git_commits_url":"https://api.github.com/repos/bob/agilezen/git/commits{/sha}","comments_url":"https://api.github.com/repos/bob/agilezen/comments{/number}","issue_comment_url":"https://api.github.com/repos/bob/agilezen/issues/comments/{number}","contents_url":"https://api.github.com/repos/bob/agilezen/contents/{+path}","compare_url":"https://api.github.com/repos/bob/agilezen/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bob/agilezen/merges","archive_url":"https://api.github.com/repos/bob/agilezen/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bob/agilezen/downloads","issues_url":"https://api.github.com/repos/bob/agilezen/issues{/number}","pulls_url":"https://api.github.com/repos/bob/agilezen/pulls{/number}","milestones_url":"https://api.github.com/repos/bob/agilezen/milestones{/number}","notifications_url":"https://api.github.com/repos/bob/agilezen/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bob/agilezen/labels{/name}","releases_url":"https://api.github.com/repos/bob/agilezen/releases{/id}","created_at":"2012-08-22T17:37:03Z","updated_at":"2013-01-11T22:04:14Z","pushed_at":"2012-08-26T20:54:42Z","git_url":"git://github.com/bob/agilezen.git","ssh_url":"git@github.com:bob/agilezen.git","clone_url":"https://github.com/bob/agilezen.git","svn_url":"https://github.com/bob/agilezen","homepage":"http://raid5.github.com/agilezen","size":184,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":11559622,"name":"donatecn","full_name":"bob/donatecn","owner":{"login":"bob","id":1436,"avatar_url":"https://avatars.githubusercontent.com/u/1436?","gravatar_id":"807d248f338fe12e100c6dc5c919a50d","url":"https://api.github.com/users/bob","html_url":"https://github.com/bob","followers_url":"https://api.github.com/users/bob/followers","following_url":"https://api.github.com/users/bob/following{/other_user}","gists_url":"https://api.github.com/users/bob/gists{/gist_id}","starred_url":"[...]
[...]
