@import "compass/css3";

table.calendar {
  margin-bottom: 1.25rem;
  border: solid 1px $border-color;
  @include border-top-left-radius(20px);
  @include border-top-right-radius(20px);
  width: 100%;

  .label {
    display: block;
    white-space: normal;
    & + .label, & + div {
      margin-top: 0.25em;
    }
    a { color: white; }
    &.secondary a {
      color: #222;
    }
  }

  a.edit {
    display: inline-block;
    padding: 0.25em 0;
  }

  &:first-of-type  td.otherMonth, td.outside-of-class, tr:last-of-type td.otherMonth {
    visibility: hidden;
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
  }

  th, td {
    width: 14.28%;
  }

  th {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;

    &:last-of-type {
      border-right: none;
    }

    &.monthName {
      text-align: center;
      font-size: 1.75em;
      color: $border-color;
      @include border-top-left-radius(20px);
      @include border-top-right-radius(20px);
      padding: 0.5em 0;
      border-bottom: 1px solid $border-color;
    }
    abbr {
      display: block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;
      border-bottom: none;
      color: mix(#00A9E0, #008CBA);
    }
  }

  td {
    position: relative;
    vertical-align: top;
    height: 9em;
    padding-bottom: 10em; // Compensates for taking the self report form out of the flow.

    // Positioning the Self-Reports to "stick"
    // to the bottom of the table cell.
    div.self-report {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 10em;
    }

    &.otherMonth, &.outside-of-class h5 {
      color: #bbb;
    }

    // Date Header
    h5 {
      margin-top: 0;
      text-align: left;
    }

    .label {
      overflow: hidden;
      width: 100%;
    }
  }
}
div.note {
  padding: 0.5em;
}

// Note Header
h6.Note {
  margin: 0.5em 0.25em;
  border-bottom: 1px solid #6600ff;
}

div.self-report {
  padding: 0.5em;
}

// Self-Report Header
h6.self-report {
  margin: 0.5em 0.25em;
  border-bottom: 1px solid #6600ff;
}
