/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.datepicker
 *= require_tree .
 */
#self_report_count_icon{
  color: white;
  display: block;
  font-size: 16px;
  border: 0px solid #f94787;
  border-radius: 200px !important;
  padding: 8px;
  padding-left: 4px !important;
  padding-right: 4px !important;
  background-color: #f94787 !important;
  position: relative;
  left: 2px !important;
  bottom: 5px !important;
}
