---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1402763147'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - '"20b4a85e1b4582f775671e2ae15e0ed3"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"sha":"master","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master","tree":[{"mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","path":"README.markdown","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","path":"computer-science","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","path":"computer-science/logic","url":"https://api.github.com/repos/[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token bb350eb0e5b0da397856cb971b2977f61248a33c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Reset:
      - '1402763147'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:19 GMT
      Etag:
      - '"30933793060e09ccc45366734f75a3d5"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"logic.md","path":"computer-science/logic/logic.md","sha":"6e590dd772840ca2fc20faf9c764c6737c742a61","size":3910,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/computer-science/logic/logic.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/6e590dd772840ca2fc20faf9c764c6737c742a61","type":"file","content":"IyBMb2dpYwoKTG9naWMgaXMsIGJyb2FkbHkgc3BlYWtpbmcsIHRoZSBhcHBs\naWNhdGlvbiBvZiByZWFzb25pbmcgdG8gYW4gYWN0aXZpdHkgb3IgY29uY2Vw\ndC4gIEluIENvbXB1dGVyIFNjaWVuY2UsIHdlIHByaW1hcmlseSB1c2UgZGVk\ndWN0aXZlIHJlYXNvbmluZyAoYS5rLmEuIGRlZHVjdGl2ZSBsb2dpYykgYWxv\nbmcgd2l0aCBib29sZWFuIGFsZ2VicmEgKGUuZy4gdHdvLXZhbHVlZCBsb2dp\nYykuCgojIFRyYWRpdGlvbmFsIExvZ2ljIFN5bWJvbHMKClRyYWRpdGlvbmFs\nIGxvZ2ljIGFuZCBsb2dpY2FsIHByb29mcywgb2YgdGhlIHNvcnQgeW91IHBy\nb2JhYmx5IGxlYXJuZWQgYWxvbmcgd2l0aCBHZW9tZXRyeSBpbiBncmFkZS1z\nY2h[...]
[...]
