---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1444076265'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - W/"eeae4a57c50bae9b981a605ed08fe89a"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"2a665ec69c1d9386913c182f3f6c9b88323bfda4","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/2a665ec69c1d9386913c182f3f6c9b88323bfda4","tree":[{"path":"README.markdown","mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"path":"computer-science","mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"path":"computer-science/logic","mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","url":"https://api.github.com/repos/[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4926'
      X-Ratelimit-Reset:
      - '1444076265'
      Last-Modified:
      - Sat, 05 Jul 2014 19:10:15 GMT
      Etag:
      - W/"25be0a67de96d8127a9d2678fb8c5b10"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"logic.md","path":"computer-science/logic/logic.md","sha":"6e590dd772840ca2fc20faf9c764c6737c742a61","size":3910,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science/logic/logic.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/computer-science/logic/logic.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/6e590dd772840ca2fc20faf9c764c6737c742a61","download_url":"https://raw.githubusercontent.com/elizabrock/inquizator-test-repo/master/computer-science/logic/logic.md","type":"file","content":"IyBMb2dpYwoKTG9naWMgaXMsIGJyb2FkbHkgc3BlYWtpbmcsIHRoZSBhcHBs\naWNhdGlvbiBvZiByZWFzb25pbmcgdG8gYW4gYWN0aXZpdHkgb3IgY29uY2Vw\ndC4gIEluIENvbXB1dGVyIFNjaWVuY2UsIHdlIHByaW1hcmlseSB1c2UgZGVk\ndWN0aXZlIHJlYXNvbmluZyAoYS5rLmEuIGRlZHVjdGl2ZSBsb2dpYykgYWxv\nbmcgd2l0aCBib29sZWFuIGFsZ2VicmEgKGUuZy4gdHdvLXZhbHVlZCBsb2dp\nYykuCgojIFRyYWRpdGlvbmFsIExvZ2ljIFN5bWJvbHMKClRyYWRpdGlvbmFs\nIGxvZ2ljIGFuZCBsb2dpY2FsIHByb29mcywgb2YgdGhlIHNvcnQgeW91IHBy\nb2JhYmx5IGxlYXJuZWQgYWxvbmcgd2l0aCBHZW9tZXRyeSBpbiBncmFkZS1z\nY2h[...]
[...]
