%h1 Course Materials &amp; Outline

%h2 Material We've Covered

%ol#covered_materials
  = render partial: 'covered_material', locals: { covered_materials: covered_materials }

%h2 Upcoming Material
%ul#upcoming_materials
  = render partial: 'material', locals: { materials: materials.children }
