%h1 Course Materials &amp; Outline

.row
  .small-12.large-6.columns
    %h2#material_covered Material We've Covered
    %ul#covered_materials
      = render partial: 'covered_material', locals: { covered_materials: covered_materials }
  - if can?(:manage, CoveredMaterial)
    .small-12.large-6.columns
      %h2#material_to_cover Material To Cover
      %ul#material_to_cover_yet
        = render partial: 'uncovered_materials_as_list', locals: { materials: materials.descendants.delete_if{ |m| covered_material_links.include?(m.link) } }

%h2#upcoming_material Upcoming Material
%ul#upcoming_materials
  .material_wrapper= render partial: 'material', locals: { materials: materials.children }

