%h1 Course Materials &amp; Outline


%ul
  %li
    Computer Science
    %ul
      %li
        Programming
        %ul
          %li
            Basic Programming
            %ul
              %li= link_to "Understanding Stack Traces", material_path(17)
              %li
                Data Structures
                %ul
                  %li
                    "Lists"
                    %ul
                      %li Arrays ✓
                      %li LinkedLIsts ✓
                      %li Stacks ✓
                      %li Queues ✓
                  %li
                    Strings ✓
                    %ul
                      %li Characters ✓
                  %li
                    Numbers ✓
                    %ul
                      %li Types: Decimal, Float, Integer, etc. ✓
                  %li Objects ✓
                  %li Hashes
                  %li Sets &amp; Set Theory
                  %li Graphs
                  %li
                    Booleans &amp; Bits ✓
                    %ul
                      %li Boolean operators ✓
                      %li Fundamental Gates and Circuits ✓
                      %li Bits ✓
                      %li Truth Tables ✓
          %li
            Object Oriented Programming
            %ul
              %li UML
              %li Inheritance
              %li Duck-typing
              %li Classes ✓
              %li Modules
              %li Libraries
          %li Functional Programming
      %li
        Algorithms
        %ul
          %li Searching Algorithms ✓
          %li Sorting Algorithms ✓
          %li Algorithmic Complexity / Big O ✓
      %li Computer Architecture
      %li
        Operating Systems
        %ul
          %li Basics of OSs
          %li File Systems
          %li Cron
      %li
        Databases
        %ul
          %li
            Relational Databases
            %ul
              %li SQL
              %li Tables
              %li Indexing
              %li Locking
              %li Entity-Relationship Diagrams
          %li Document Oriented Databases
          %li Graph Databases
      %li Artifical Intelligence
      %li Computer Vision
      %li Robotics
      %li Machine Learning
      %li Image Processing
      %li
        Computer Networking
        %ul
          %li HTTP
          %li SSL
          %li TCP/IP
      %li
        Security
        %ul
          %li Cryptography
          %li Social Engineering
          %li See also: Database Security
          %li See also: Application Security
  %li
    Software Engineering
    %ul
      %li
        Morals and Ethics of SE
        %ul
          %li How our work affects people's lives
          %li Legal implications
      %li
        Testing
        %ul
          %li
            Automated Testing
            %ul
              %li Unit Tests ✓
              %li Integration Tests
              %li Mocks/Stubs
          %li
            Manual Testing
            %ul
              %li Acceptance Testing
              %li Fuzz Testing
      %li
        Application Maintenance
        %ul
          %li Decipher other people's code
          %li Read documentation ✓
          %li
            Write documentation
            %ul
              %li Comments
              %li Manuals
              %li APIs
      %li
        Code Review
        %ul
          %li Pair Programming
          %li Formal Code Reviews
          %li Informal Code Reviews
          %li Code Smells
          %li Test Smells
      %li Design Patterns
      %li
        Requirements and Specifications
        %ul
          %li Requirements Documents
          %li Formal Specifications
          %li User Personas
          %li User Stories
      %li
        Software Development Lifecycle
        %ul
          %li Agile Development
          %li Waterfall Development
          %li ... etc ....
      %li
        Security
        %ul
          %li Dev Ops
          %li Database Best Practices
          %li Programming Best Practices
  %li
    Rails
    %ul
      %li
        Ruby
        %ul
          %li Basic Programming ✓
          %li Ruby Ecosystem
      %li MVC
      %li
        Databases
        %ul
          %li ORMs
          %li Migrations
          %li ActiveRecord Models
          %li ActiveRecord Scopes
      %li
        ERB / HAML
        %ul
          %li HTML (pre-req) ✓
      %li
        SASS
        %ul
          %li CSS (pre-req) ✓
      %li
        Coffeescript
        %ul
          %li Javascript (pre-req) ✓
      %li
        APIs
        %ul
          %li Producing APIs
          %li Consuming APIs
          %li REST
      %li
        Common Libraries
        %ul
          %li Authentication
          %li Administration
          %li Authorization
          %li Code Quality / Metrics
          %li
            Communication
            %ul
              %li ActionMailer
              %li Twilio
              %li Email Processing
          %li
            Testing
            %ul
              %li Cucumber
              %li Rspec
  %li
    Special Topics
    %ul
      %li Code Retreat
      %li Jason's Debugging Talk ✓
      %li Jason's Search+Sort Talk ✓
      %li James White's Depth Lecture 
      %li Stucki's DB/Security Best Practices
  %li
    Life Skills
    %ul
      %li How to get a job
      %li Getting used to failure
      %li Problem solving
      %li Communication skills
      %li Self awareness
