---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/master?recursive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1444076265'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - W/"eeae4a57c50bae9b981a605ed08fe89a"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"2a665ec69c1d9386913c182f3f6c9b88323bfda4","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/2a665ec69c1d9386913c182f3f6c9b88323bfda4","tree":[{"path":"README.markdown","mode":"100644","type":"blob","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e"},{"path":"computer-science","mode":"040000","type":"tree","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf671a3462a45cab3"},{"path":"computer-science/logic","mode":"040000","type":"tree","sha":"326b4dd8bb1312a69fbaafba712712a701bb506e","url":"https://api.github.com/repos/[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 4851e298db2a543f8e6eba673964391ccc8a66d2
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Reset:
      - '1444076265'
      Last-Modified:
      - Thu, 05 Jun 2014 15:07:28 GMT
      Etag:
      - W/"43f4ec026d7b895b900a292d4d27cad5"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 69ff90749f74a27a1f12
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"README.markdown","path":"README.markdown","sha":"cc22f00419fa7b2132874538a5dd5c8b3f640e0e","size":119,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/README.markdown?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/README.markdown","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e","download_url":"https://raw.githubusercontent.com/elizabrock/inquizator-test-repo/master/README.markdown","type":"file","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/README.markdown?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/cc22f00419fa7b2132874538a5dd5c8b3f640e0e","html":"https://github.com/elizabrock/inquizator-test-repo/blob/master/README.markdown"}},{"name":"computer-science","path":"computer-science","sha":"ce2716d38e9b41927d683dbdf671a3462a45cab3","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/computer-science?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/computer-science","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/ce2716d38e9b41927d683dbdf[...]
[...]
