---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1398260013'
      Last-Modified:
      - Wed, 26 Mar 2014 01:03:22 GMT
      Etag:
      - '"54043e8bbcb0fb15d73a8f4f86f1fedd"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"01-cheers","path":"exercises/01-cheers","sha":"8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","type":"dir","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","html":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers"}},{"name":"02-ruby-koans","path":"exercises/02-ruby-koans","sha":"b3f6b39822ca8b450b5b0d34169016b46d5d4c6f","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/02-ruby-koans","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/b3f[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1398260013'
      Last-Modified:
      - Wed, 26 Mar 2014 01:03:20 GMT
      Etag:
      - '"7ccb6183dd91686d8c4bd0d9e500ecaa"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"instructions.md","path":"exercises/02-ruby-koans/instructions.md","sha":"8fb97731350f6d0612caecf36be7210a40ea41c6","size":262,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","type":"file","content":"IyBSdWJ5IEtvYW5zCgpJdCdzIHRpbWUgdG8gZ2V0IHN0YXJ0ZWQgb24gdGhl\nIFtSdWJ5IEtvYW5zXShodHRwOi8vcnVieWtvYW5zLmNvbS8pLgoKRm9sbG93\nIHRoZSBpbnN0cnVjdGlvbnMgb24gdGhlIFJ1YnkgS29hbnMgd2Vic2l0ZSB0\nbyBnZXQgc3RhcnRlZC4KCiMjIFN0cmluZ3MKClN0cmluZ3MgYXJlIGJhc2lj\nYWxseSBhcnJheXMuCgojIyBPYmplY3RzCgpPYmplY3RzIGFyZSBibG9ieS4K\nCiMjIFRyaWFuZ2xlcwoKVHJpYW5nbGVzIGFyZSBzaGFwZXMuCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","html":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md"}}'
  recorded_at: Fri, 01 Mar 2013 06:00:03 GMT
- request:
    method: get
    uri: https://api.github.com/users/bob0/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token d141ef15f79ca4c6f43a8c688e0434648f277f20
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1398260013'
      Etag:
      - '"065c6f8321b1805c60b5ad37d4f34070"'
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":4947348,"name":"jquery-ui-touch-punch","full_name":"Bob0/jquery-ui-touch-punch","owner":{"login":"Bob0","id":1938706,"avatar_url":"https://avatars.githubusercontent.com/u/1938706?","gravatar_id":"6a5d9bcf76091b50959fb9eaf795423c","url":"https://api.github.com/users/Bob0","html_url":"https://github.com/Bob0","followers_url":"https://api.github.com/users/Bob0/followers","following_url":"https://api.github.com/users/Bob0/following{/other_user}","gists_url":"https://api.github.com/users/Bob0/gists{/gist_id}","starred_url":"https://api.github.com/users/Bob0/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Bob0/subscriptions","organizations_url":"https://api.github.com/users/Bob0/orgs","repos_url":"https://api.github.com/users/Bob0/repos","events_url":"https://api.github.com/users/Bob0/events{/privacy}","received_events_url":"https://api.github.com/users/Bob0/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Bob0/jquery-ui-touch-punch","description":"A
        duck punch for adding touch events to jQuery UI","fork":true,"url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch","forks_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/forks","keys_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/teams","hooks_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/hooks","issue_events_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues/events{/number}","events_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/events","assignees_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/assignees{/user}","branches_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/branches{/branch}","tags_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/tags","blobs_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/refs{/sha}","trees_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/statuses/{sha}","languages_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/languages","stargazers_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/stargazers","contributors_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/contributors","subscribers_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/subscribers","subscription_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/subscription","commits_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/commits{/sha}","git_commits_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/git/commits{/sha}","comments_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/comments{/number}","issue_comment_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues/comments/{number}","contents_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/contents/{+path}","compare_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/merges","archive_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/downloads","issues_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/issues{/number}","pulls_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/pulls{/number}","milestones_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/milestones{/number}","notifications_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/labels{/name}","releases_url":"https://api.github.com/repos/Bob0/jquery-ui-touch-punch/releases{/id}","created_at":"2012-07-08T15:44:54Z","updated_at":"2013-01-11T01:38:14Z","pushed_at":"2012-04-19T19:32:48Z","git_url":"git://github.com/Bob0/jquery-ui-touch-punch.git","ssh_url":"git@github.com:Bob0/jquery-ui-touch-punch.git","clone_url":"https://github.com/Bob0/jquery-ui-touch-punch.git","svn_url":"https://github.com/Bob0/jquery-ui-touch-punch","homepage":"http://touchpunch.furf.com/","size":79,"stargazers_count":1,"watchers_count":1,"language":"JavaScript","has_issues":false,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Fri, 01 Mar 2013 06:00:04 GMT
[...]
