---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1395761835'
      Last-Modified:
      - Tue, 25 Mar 2014 14:36:59 GMT
      Etag:
      - '"10278f04e009f57ed7031d27c1e2333e"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"01-cheers","path":"exercises/01-cheers","sha":"8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","type":"dir","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/01-cheers?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/8fe8641fa77fd4e90ad0128774a07aaeea7a47b7","html":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/01-cheers"}},{"name":"02-ruby-koans","path":"exercises/02-ruby-koans","sha":"b3f6b39822ca8b450b5b0d34169016b46d5d4c6f","size":0,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/tree/master/exercises/02-ruby-koans","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/trees/b3f[...]
- request:
    method: get
    uri: https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1395761835'
      Last-Modified:
      - Tue, 25 Mar 2014 14:36:59 GMT
      Etag:
      - '"10278f04e009f57ed7031d27c1e2333e"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '{"name":"instructions.md","path":"exercises/02-ruby-koans/instructions.md","sha":"8fb97731350f6d0612caecf36be7210a40ea41c6","size":262,"url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","html_url":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md","git_url":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","type":"file","content":"IyBSdWJ5IEtvYW5zCgpJdCdzIHRpbWUgdG8gZ2V0IHN0YXJ0ZWQgb24gdGhl\nIFtSdWJ5IEtvYW5zXShodHRwOi8vcnVieWtvYW5zLmNvbS8pLgoKRm9sbG93\nIHRoZSBpbnN0cnVjdGlvbnMgb24gdGhlIFJ1YnkgS29hbnMgd2Vic2l0ZSB0\nbyBnZXQgc3RhcnRlZC4KCiMjIFN0cmluZ3MKClN0cmluZ3MgYXJlIGJhc2lj\nYWxseSBhcnJheXMuCgojIyBPYmplY3RzCgpPYmplY3RzIGFyZSBibG9ieS4K\nCiMjIFRyaWFuZ2xlcwoKVHJpYW5nbGVzIGFyZSBzaGFwZXMuCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/elizabrock/inquizator-test-repo/contents/exercises/02-ruby-koans/instructions.md?ref=master","git":"https://api.github.com/repos/elizabrock/inquizator-test-repo/git/blobs/8fb97731350f6d0612caecf36be7210a40ea41c6","html":"https://github.com/elizabrock/inquizator-test-repo/blob/master/exercises/02-ruby-koans/instructions.md"}}'
  recorded_at: Tue, 25 Mar 2014 14:43:50 GMT
recorded_with: VCR 2.8.0
